<div id="about" class="about">
  <div class="content-wrap">
    <div class="about-header">
      <h2 class="about-header__title"><%= about.headerTitle %></h2>
      <div class="dividingLine"></div>
      <div class="about-header__note"><%= about.headerNote %></div>
    </div>
    <div class="about-content">
      <div class="about-content__slider">
        <% about.contentItems.forEach(function(item){ %>
        <div class="about-slide">
          <img class="about-slide__photo" src="<%= item.aboutPhotoSrc %>" alt="photo">
          <div class="about-slide__info">
            <p class="about-slide__info-text">"<%= item.aboutText %>"</p>
            <p class="about-slide__info-name"><%= item.aboutName %></p>
            <p class="about-slide__info-position"><%= item.aboutPosition %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
</div>