<header class="header">
  <div class="content-wrap">
    <div class="header-head">
      <div class="header-head__logo">
        <a class="logo" href="/">
          <img src="../src/img/header/logo.png" alt="logo">
        </a>
      </div>
      <nav id="nav" class="header-head__nav">
        <ul class="nav-ul">
          <% header.nav.forEach(function(item){ %>
          <li class="nav-ul__li">
            <% if(item.id) { %>
            <a id="<%= item.id %>" class="nav-ul__li-a" href="<%= item.href %>"><%= item.name %> </a>
            <% } else {%>
            <a class="nav-ul__li-a" href="<%= item.href %>"><%= item.name %> </a>
            <% } %>
          </li>
          <%  });%>
        </ul>
      </nav>
    </div>
    <div class="header-content">
      <h1 class="header-content__title"><%= header.content %></h1>
      <a class="header-content__button" href="#contact">Work with
        us!
      </a>
    </div>
  </div>
</header>