<div id="portfolio" class="portfolio">
  <div class="content-wrap">
    <div class="portfolio-header">
      <h2 class="portfolio-header__title"><%= portfolio.headerTitle %></h2>
      <div class="dividingLine"></div>
      <div class="portfolio-header__note"><%= portfolio.headerNote %></div>
    </div>
    <div class="portfolio-content">
      <div class="portfolio-content__menu">
        <% portfolio.galleryButtons.forEach(function (button) {  %>
        <% if(button.activity){  %>
        <div id="<%= button.buttonId %>" class="portfolio-content__menu-button active"><%= button.buttonTitle %></div>
        <% } else{ %>
        <div id="<%= button.buttonId %>" class="portfolio-content__menu-button"><%= button.buttonTitle %></div>
        <% } %>
        <%  }); %>
      </div>
      <div class="portfolio-content__gallery">
        <% portfolio.contentItems.forEach(function (item) {  %>
        <div class="gallery-item <%= item.class %>">
          <img class="gallery-item__img" src="<%= item.itemImgSrc %>" alt="gallery item img">
          <div class="gallery-item__title"><%= item.itemTitle %></div>
        </div>
        <%  }); %>
        <button class="gallery-button">LOAD MORE PROJECTS</button>
      </div>
    </div>
  </div>
</div>