<div class="services">
  <div class="content-wrap">
    <div class="services-header">
      <h2 class="services-header__title"><%= services.headerTitle %></h2>
      <div class="dividingLine"></div>
      <div class="services-header__note"><%= services.headerNote %>
      </div>
    </div>
    <div class="services-content">
      <% services.contentItems.forEach(function(item){ %>
      <div class="services-content__item">
        <div class="services-content__item-image">
          <img class="item-image" src="<%= item.imageSrc %>" alt="contentItem">
        </div>
        <h3 class="services-content__item-title"><%= item.title %></h3>
        <div class="services-content__item-notice"><%= item.notice %></div>
      </div>
      <% }) %>
    </div>
  </div>
</div>