<div class="skills">
  <div class="content-wrap">
    <div class="skills-header">
      <h2 class="skills-header__title"><%= skills.headerTitle %></h2>
      <div class="dividingLine"></div>
      <div class="skills-header__note"><%= skills.headerNote %></div>
    </div>
    <div class="skills-content">
      <% skills.contentItems.forEach(function (item) { %>
      <div class="skills-content__item">
        <div class="<%= item.itemClass %> progress">
          <img class="progress-base" src="<%= item.baseSrc %>" alt="progress base.png">
          <img class="progress-current" src="<%= item.progressSrc %>" alt="current progress">
          <div class="progress-percent">
            <span><%= item.progressPercent %></span><span class="percent-span">%</span>
          </div>
        </div>
        <div class="progress-title"><%= item.itemTitle %></div>
      </div>
      <% }); %>
    </div>
  </div>
</div>