<div class="team">
  <div class="content-wrap">
    <div class="team-header">
      <h2 class="team-header__title"><%= team.headerTitle %></h2>
      <div class="dividingLine"></div>
      <div class="team-header__note"><%= team.headerNote %></div>
    </div>
    <div class="team-content">
      <% team.contentItems.forEach(function (item) { %>
      <div class="team-content__teammate">
        <div class="profile-photo">
          <img class="profile-photo__img" src="<%= item.photoSrc %>" alt="profile photo">
        </div>
        <div class="teammate-info">
          <div class="teammate-info__name"><%= item.teammateName %></div>
          <div class="teammate-info__position"><%=item.teammatePosition%></div>
          <div class="teammate-info__description"><%=item.teammateDescription%></div>
        </div>
        <div class="teammate-info__links">
          <ul class="links">
            <% item.links.forEach(function (itemLink) { %>
            <li class="link">
              <a class="link" href="<%= itemLink.href%>" target="_blank">
                <img class="<%= itemLink.class %> links-icon" src="<%= itemLink.iconSrc %>" alt="link-icon">
              </a>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>