<%- include partials/head.ejs %>

<body>

	<div class="wrapper">
		<div class="content">
			<a href="#" class="scrollUp"></a>
			<%- include partials/header.ejs %>
			<%- include partials/services.ejs %>
			<%- include partials/team.ejs %>
			<%- include partials/skills.ejs %>
			<%- include partials/portfolio.ejs %>
			<%- include partials/about.ejs %>
			<%- include partials/contact.ejs %>
			<%- include partials/footer.ejs %>
		</div>
	</div>
	<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script src="/slick/slick.min.js" type="text/javascript"></script>
	<script src="/js/main.js" type="text/javascript"></script>
</body>

</html>